@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Ne sećam se adrese<br />
    Srbija, 14000 Valjevo<br />
    <abbr title="Phone">Telefon:</abbr>
    +381692605006
</address>

<address>
    <strong>Podrska:</strong>   <a href="mailto:Support@example.com">matija.jovanovic.official@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">vertigox@gmail.com</a>
</address>