@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VertigoX</h1>
    <p class="lead">Dobrodošli! Pritisnite dugme ispod da bi se ulogovali i pristupili svim mogućnostima naše aplikacije!</p>
    <p><a href="https://localhost:44374/Nalog/Enter" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Počnimo</h2>
        <p>
            Ukoliko nemate nalog pritisnite dugme ispod da bi ste se registrovali.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44374/Nalog/Create">Registruj se &raquo;</a></p>
    </div>
</div>