
@{
    ViewBag.Title = "Klijent";
}

<h2>Klijent</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Nova frizura</h2>
        <p>
            Stvorite vašu novu frizuru kakvu vi želite
        </p>
        <p><a class="btn btn-default" href="https://localhost:44374/Frizura/Create">Stvori &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pregled frizura</h2>
        <p>Pregledajte sve već stvorene frizure</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Frizura/Index">Pregled &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zakaži Termin</h2>
        <p>Izaberite vašu frizuru i zakažite termin u salonu</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Termin/Create">Zakaži &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Postavi Komentar</h2>
        <p>Ukoliko želite dan nas podržite ostavite nam komentar i ocenite usluge</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Komentar/Create">Komentariši &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Komentari</h2>
        <p>Pročitajte komentare koje su nam postavile mušterije</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Komentar/Index">Komentari &raquo;</a></p>
    </div>
</div>