
@{
    ViewBag.Title = "Menadzer";
}

<h2>Menadzer</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Pregled termina</h2>
        <p>
            Pregledajte, izmenite, brišite zakazane termine
        </p>
        <p><a class="btn btn-default" href="https://localhost:44374/Termin/Index">Termini &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Komentari</h2>
        <p>Pregledajte, brišite komentare</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Komentar/Index">Komentar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nalozi</h2>
        <p>Pregledajte, izmenite, brišite naloge</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Nalog/Index">Nalog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proizvodi</h2>
        <p>Stvorite, pregledajte, izmenite, brišite proizvode</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Proizvod/Index">Proizvod &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Računi</h2>
        <p>Stvorite, pregledajte račune</p>
        <p><a class="btn btn-default" href="https://localhost:44374/Racun/Index">Račun &raquo;</a></p>
    </div>
</div>